.MyGrid {
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "NewMan Tag"
        "UpMan TopMan"
        "YouMan TopMan";
}
@media (max-width: 1023px) {
    .MyGrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto 400px 1fr 1fr 1fr;
        grid-template-areas:
            "Tag"
            "TopMan"
            "NewMan"
            "UpMan"
            "YouMan";
    }
}
