@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
.Arrow:hover > * {
    transform: translateY(-10px);
}
.Arrow:hover {
    height: 60px;
}
.Arrow,
.Arrow > * {
    transition: all 0.3s;
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
p {
    font-size: 14px;
    margin-bottom: 8px;
}
a {
    font-size: 14px;
}
