.child:nth-child(1) {
    border-radius: 10px 10px 0 0;
}
.child:nth-last-child(1) {
    border-radius: 0 0 10px 10px;
}
.child {
    transition: all 500ms;
    background-color: #1f2936;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.child:hover {
    background-color: #8b8b8b;
}
