.Underline {
    position: relative;
}
.Underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: pink;
    transition: all 0.3s ease;
}
.Underline:hover::before {
    width: 100%;
}
.Blurhover:hover > :not(:hover) {
    opacity: 0.5;
}
.Blurhover > li {
    transition: all 0.3s;
}
